
<div class="container-fluid">
    <div class="home-navbar menu-primary-container navbar-fixed-top">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#fleet-manager-section" class="header-menu-item">
                    Fleet Manager
                </a>
            </li>

            <li class="list-inline-item">
                <a href="#in-action-section">
                    In Action
                </a>
            </li>

            <li class="list-inline-item">
                <a href="#about-us-section">
                    About Us
                </a>
            </li>

        </ul> 
    </div>
</div>

<div class="navbar-offset">
</div>

<div id="fleet-manager-section" class="container-fluid section">
    <div class="col-md-8 col-md-offset-2">
        <hr>
        <h1>
            Fleet Manager
        </h1>
        <p>
            Fleet Manager is a vehicle fleet management system (VFMS).
        </p>
        <p>
            Fleet Manager helps you keep track of multiple fleets of vehicles, as well as the status and any open issue tickets regarding those vehicles.
        </p>
    </div>
</div>

<div id="in-action-section" class="container-fluid section">
    <div class="col-md-8 col-md-offset-2">
        <hr>
        <h1>
            In Action
        </h1>
        <p>
            Fleet Manager supports a variety of use cases including corporate fleets, service fleets, and personal fleets.
        </p>
        <p>
            In Action placeholder text text text
        </p>
    </div>
</div>


<div id="about-us-section" class="container-fluid section">
    <div class="col-md-8 col-md-offset-2">
        <hr>
        <h1>
            About Us
        </h1>
        <p>
            insert info about us here
        </p>
        <p>
            placeholder text text text
        </p>
    </div>
</div>
