<div class="container-fluid">
    <div class="row">
        <form>
            <div class="col col-md-8 form-column">
                <div class="jumbotron col-md-8 col-md-offset-2">
                    <div class="row form-header">
                        <h3>
                            Get in Touch
                        </h3>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" class="form-control input-sm" id="nameInput" placeholder="Name">
                    </div> 

                    <div class="form-group">
                        <input type="text" class="form-control input-sm" id="emailInput" placeholder="Email">
                    </div> 

                    <div class="form-group">
                        <textarea class="form-control input-sm" rows="5" id="messageInput" placeholder="Message"></textarea>
                    </div> 

                </div>
            </div>
        </form>

        <div class="col col-md-4 details-column">
            <div class="row col-md-8">
                <h3>
                    Connect with us
                </h3>    
            </div>

            <div class="row col-md-8">
                <br>
            </div>

            <div class="row col-md-8 email-header">
                <h4>
                    Support e-mail
                </h4>
            </div>
            
            <div class="row col-md-8">
                <p>
                    email@website.com
                </p>
            </div>
            
            <div class="row col-md-8">
                <br>
            </div>

            <div class="row col-md-8">
                <h4>
                    Address
                </h4>
            </div>
            
            <div class="row col-md-8">
                <p>
                    Number Streetname, Suite Number,
                    <br>
                    City, State Postcode,
                    <br>
                    Country
                </p>
            </div>
        </div>
    </div>
</div>
